---
const { pageImage } = Astro.props;

let Image;
if(pageImage){
  Image = pageImage;
} else {
  Image = '';
}
---

        <header id="head" transition:name="head" transition:animate="none">
             <div class="page-header" style=`background-image: url(${Image}); height: 45vh; min-height: 300px; max-height: 560px;`>
                <span class="mask bg-gradient-dark" style="opacity: 0.1;"></span>
            </div>
        </header>