---
import SwupLayout from './SwupLayout.astro';
---

<SwupLayout>
  <section class="mx-n2 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-md-12" itemscope itemtype="https://schema.org/Movie">
          <slot />
        </div>
      </div>
    </div>
  </section>
</SwupLayout>